body {
  margin: 0;
  color:#40510E;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 500%;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color:#66BFBF;
  line-height: 2;
}





h2 {
  font-family: 'Montserrat', sans-serif;
  color:#11999E;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
}


hr {
  border:dotted #CFD2CF 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a:hover {
  color: #EAF6F6;
}

.navbar {
  background-color:#66BFBF;
  padding: 1% 0 1% 0 ;
}

.nav-link {
  color:#fff;
  font-size: 1.5rem;
  line-height: 1.5;
}

.middle-container {
  margin: 90px 0;
}

.intro {
  margin:35px auto;
  line-height: 1.5;
  width: 45%;
}

.skills {
  margin: 30px 0 0 0;
}


.topcloud {
  position: relative;
  margin-top: 28px;
  left: 430px;
  top:70px;
}

.bottomcloud{
  margin: 50px auto 0 auto;
  position: relative;
  bottom: 150px;
  right: 35px;
}

.moutain{
  margin: 25px;
  position: relative;
  bottom: 15px;
  right: 40px;
}


.top {
  text-align: center;
  position: relative;
  font-family: 'Merriweather', serif;
  top:10px;
}

.intro-heading{
  margin-top: 30px;
}


.pythonimg {
  float: left;
  position: relative;
  top:20px;
  width: 170px;
  margin: 10px 10px 20px 10px;
}

.cimg {
  float: right;
  position: relative;
  bottom:10px;
  width: 185px;
  margin: 10px 10px 20px 10px;
}

.htmlimg {
  float: left;
  width: 160px;
  position: relative;
  bottom: 25px;
  margin: 15px 10px 20px 10px;
}

.sqlimg{
  float: left;
  width: 160px;
  position: relative;
  bottom: 25px;
  margin: 15px 10px 20px 10px;
}

.js-img {
  float: right;
  width: 120px;
  position: relative;
  bottom: 25px;
  margin: 15px 30px 20px 10px;
}


.skill-row1 {
  width:50%;
  text-align: left;
  margin: 45px auto 90px auto;
  line-height: 1.5;
}

.skill-row2 {
  width:50%;
  text-align: right;
  line-height: 1.5;
  margin: 45px auto 80px auto;
}

.skill-row3 {
  width:50%;
  text-align: left;
  margin: 45px auto 100px auto;
  line-height: 1.5;
}

.skill-row4 {
  width:50%;
  text-align: left;
  margin: 45px auto 130px auto;
  line-height: 1.5;
}

.skill-row5{
  width:50%;
  text-align: right;
  margin: 45px auto 130px auto;
  line-height: 1.5;
}



.contact-me {
  width: 35%;
  margin: 5px auto 5px auto;
}

.text {
  line-height: 1.5;
}

.carousel {
  padding: 7% 15%;
  margin: 5% 0;
  background-color: #66BFBF;
}

.carousel-heading {
  margin-bottom: 5%;
  color: #fff;
  text-align: center;
}

.project-img {
  width:75%;
  position: relative;
  left: 35px;
}

.drumkit-link {
  position: relative;
  top:250px;
}


.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}


.bottom-container {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #66BFBF;
}

.footer-link {
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  margin: 10px 10px;
}


.name {
  color: #EAF6F6;
  font-size: 0.8rem;
  padding: 10px 0;
}
